body {
    text-align: center;
    background-color: #141414;
}

#board {
    background-color: #0E0E0E;
    border-top: 5px solid #ff7f50;
    border-bottom: 5px solid #ff7f50;
    position: relative;
}

#header {
    margin-top: 50px;
}

#title {
    color: #ff7f50;
    font-family: 'Arial', monospace;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 10px;
}

#com {
    color: white;
    font-size: 24px;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
}

span {
    animation: wave 1s infinite alternate;
}

#footer {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #D6D6D6;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

#footer-content {
    display: flex;
    justify-content: center;
}

.credits {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto;
    width: 500px;
}

td  {
    width: 250px;
}

a , a:visited, a:active, a:focus {
    color:#D6D6D6;
    text-decoration: none;
}

a:hover {
    font-size: 25px;
    color: #ff7f50;
}